@import "tailwindcss";

@theme {
  --color-background: #0A0A0A;
  --color-surface: #141414;

  /* Burnished Copper */
  --color-gold: #B87333;
  --color-gold-light: #D48C46;

  --color-text-primary: #EDEDED;
  --color-text-muted: #737373;
}

body {
  background-color: var(--color-background);
  color: var(--color-text-primary);
}